<html lang="ru">
<head>
    <style>
        *{
            padding: 10px;
            margin: 10px;
        }
        label {
            display: block;
            text-align: center;
            line-height: 150%;
            font-size: .85em;
        }
        input  {
            display: block;
            text-align: center;
            line-height: 150%;
            font-size: .85em;
        }
        input {
            text-align: center;
            font-size: 25px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstPage</title>
</head>
<body>
    <h2 align="center">Get info</h2>
    <form method="post" action="postform">
        <label><big>Input ID:</label></big>
        <input  type="text" style="margin:0px auto; display:block;" name="orderId"/><br/>
        <input  type="submit" style="margin:0px auto; display:block;" value="Get info"/>
    </form>
</body>
</html>